<!DOCTYPE html>
<html lang="en">
<head>
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %}Taskminder{% endblock %}</title>
</head>

<body>
    <div id="sidebar" class="nav">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/assignments/">Assignments</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
