{% extends "home/base.html" %}
{% load bootstrap3 %}
{% block title %}Login{% endblock %}

{% block content %}


        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}


        {# Display a form #}
        <form action="/login/" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            {% endbuttons %}
        </form>


{% endblock %}